.center{text-align: center;}
.container{width: 1140px;margin-left: auto;margin-right: auto;
           padding-left: 30px;padding-right: 30px;}

.col1{width:8.33%;}.col2{width:16.66%;}.col3{width: 25%;} 
.col4{width:33.33%;}.col5{width:41.66%;}.col6{width:50%;} 
.col7{width:58.33%;}.col8{width:66.66%;}.col9{width:75%;}     
.col10{width:83.11%;}.col11{width:91.66%;}.col12{width:100%;}

.row{margin-left: -15px;margin-right: -15px;overflow: hidden;}

div[class*="col"]{float:left;padding:15px;box-sizing:border-box;} 

.page-menu {display: inline-block;}

.nav-item {display: inline-block;}

.left {float: left;}

.right {float: right;}

.about-video iframe {height: 344px; width: 100%;}

*{outline: none;}

.slider {position: relative;}

.slick-prev, .slick-next {
	position: absolute; 
	top: 50%;
	background-color: transparent;
	border: none;
	color: transparent;
	width: 30px;
	height: 30px;
	background-image: url(http://placehold.it/20x20);
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
	z-index: 100;
}

.slick-prev {left: 0px;}

.slick-next {
right: 0px;
	-webkit-transform: rotate(180deg);
-ms-transform: rotate(180deg);
-o-transform: rotate(180deg);
transform: rotate(180deg);}
